<%- include('../../shared/includes/head', { pageTitle: 'Your cart' }) %>
<script src="/scripts/product-quantity-management.js" defer></script>
<link rel="stylesheet" href="/style/cart.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Your cart</h1>
        <ul id="cart-items">
            <li>
                <% for (const item of locals.cart.items) { %> 
                    <%- include('./includes/cart-item', { item }) %>
                <% } %> 
            </li>
        </ul>
        <div id="cart-total">
            <p>Total: $<span><%= locals.cart.totalPrice %></span></p>
            <% if (locals.isAuth) { %>
                <% if (locals.cart.items.length) { %>
                    <form action="/orders" method="POST">
                        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
                        <button class="btn" type="submit">Buy products</button>
                    </form>
                <% } else { %>
                    <p class="guest-text">No items added to the cart!</p>    
                <% } %>
            <% } else { %>
                <p class="guest-text">Log in to purchase items!</p>
            <% } %>
        </div>
    </main>
<%- include('../../shared/includes/footer') %>